<div class="tn-page-content-area">
    <div class="tn-page-content-header-area">
        <div class="__page-title-area">
            <div class="__left-area">
                <h1 class="tn-page-title">
                    Thay đổi mật khẩu
                </h1>
            </div>
        </div>
    </div>

    <div class="tn-page-content-body-area">
        <div class="tn-data-table-area">
            <div class="__main-content-area">
                <form [formGroup]="formGroup">
                    <div class="tn-form-control type-text-field required"
                         [ngClass]="{'error': (formGroup.get('username').errors?.required && submitting)}">
                        <div class="__control-label">Tên đăng nhập</div>

                        <div class="__control-input-wrapper">
                            <input class="__control-input" type="text" (focus)="onFocus()"
                                   [(ngModel)]="itemDetail.username" disabled
                                   formControlName="username" placeholder="Nhập tên đăng nhập">
                        </div>
                    </div>

                    <div class="tn-form-control type-text-field required"
                         [ngClass]="{'error': (formGroup.get('password').errors?.required && submitting) || error}">
                        <div class="__control-label">Mật khẩu cũ</div>

                        <div class="__control-input-wrapper">
                            <input class="__control-input" type="password" (focus)="onFocus()"
                                   [(ngModel)]="itemDetail.password"
                                   formControlName="password" placeholder="Nhập mật khẩu">
                        </div>

                        <div class="__control-messages"
                             *ngIf="(formGroup.get('password').errors?.required && submitting) || error">
                            <div class="__message-item">Trường thông tin bắt buộc</div>
                        </div>
                    </div>

                    <div class="tn-form-control type-text-field required"
                         [ngClass]="{'error': (formGroup.get('passwordMoi').errors?.required && submitting) || error}">
                        <div class="__control-label">Mật khẩu mới</div>

                        <div class="__control-input-wrapper">
                            <input class="__control-input" type="password" (focus)="onFocus()"
                                   [(ngModel)]="itemDetail.passwordMoi"
                                   formControlName="passwordMoi" placeholder="Nhập mật khẩu mới">
                        </div>

                        <div class="__control-messages"
                             *ngIf="(formGroup.get('passwordMoi').errors?.required && submitting) || error">
                            <div class="__message-item">Trường thông tin bắt buộc</div>
                        </div>
                    </div>

                    <div class="tn-form-control type-text-field required"
                         [ngClass]="{'error': (formGroup.get('passwordMoi2').errors?.required && submitting) || error}">
                        <div class="__control-label">Nhập lại mật khẩu</div>

                        <div class="__control-input-wrapper">
                            <input class="__control-input" type="password" (focus)="onFocus()"
                                   [(ngModel)]="itemDetail.passwordMoi2" (keyup)="nhapPass2()"
                                   formControlName="passwordMoi2" placeholder="Nhập lại mật khẩu">
                        </div>

                        <div class="__control-messages"
                             *ngIf="(formGroup.get('passwordMoi2').errors?.required && submitting) || error">
                            <div class="__message-item">Trường thông tin bắt buộc</div>
                        </div>

                        <div class="__control-messages" *ngIf="errorLog">
                            <div class="__message-item">Thông tin không chính xác</div>
                        </div>

                        <div class="__control-messages" *ngIf="nhapPass2()">
                            <div class="__message-item">Mật khẩu nhập lại không đúng</div>
                        </div>
                    </div>


                    <button type="button" (click)="changePassword()"
                            class="tn-btn tn-color--white-0 tn-bgc--primary tn-bgc--primary-alt--hover tn-bgc--primary-alt-2--active easing-fast mt-16">
                        <span class="__label">Thay đổi mật khẩu</span>
                        <span class="__icon ci ci-arrow-right"></span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
