<div class="tn-page-content-area">
    <div class="tn-page-content-body-area">
        <h3>Only Icon:</h3>

        <div class="tn-group-btn">
            <button type="button"
                    class="tn-btn icon-only tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active easing focus-style-1">
                <span class="__icon ci ci-maximize-1"></span>
            </button>

            <button type="button"
                    class="tn-btn icon-only tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active easing-fast focus-style-1">
                <span class="__icon ci ci-data-1"></span>
            </button>

            <button type="button"
                    class="tn-btn icon-only tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active">
                <span class="__icon ci ci-template"></span>
            </button>

            <button type="button"
                    class="tn-btn icon-only tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active">
                <span class="__icon ci ci-settings"></span>
            </button>
        </div>

        <h3>Button:</h3>

        <div class="tn-group-btn">
            <button type="button"
                    class="tn-btn tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active easing focus-style-1">
                <span class="__label">Thêm mới</span>
                <span class="__icon ci ci-add"></span>
            </button>

            <button type="button"
                    class="tn-btn tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active focus-style-1">
                <span class="__label">In danh sách</span>
                <span class="__icon ci ci-add"></span>
            </button>

            <button type="button" class="tn-btn tn-bgc--gray-10 tn-bgc--gray-20--hover tn-bgc--gray-30--active">
                <span class="__label">Duyệt đăng ký</span>
            </button>
        </div>
    </div>
</div>
