<div class="tn-page-login-container">
    <div class="tn-page-login-body-area">
        <div class="tn-page-login-header">
            <a class="__logo-wrapper" href="javascript:void(0)">
                <img src="./../../../assets/layout/images/logo160x160.png" class="__logo"/>
            </a>

            <div class="__right-content">
                <div class="__title">Khoa Công nghệ thông tin - HVNNVN</div>

                <div class="__slogan">Hệ thống chia sẻ tài liệu</div>
            </div>
        </div>

        <div class="tn-page-login-content">
            <router-outlet></router-outlet>
        </div>

        <div class="tn-page-login-footer">
            <div class="cursor-pointer">Website khoa</div>
        </div>
    </div>
</div>
