<div class="tn-subscribing">
    <div class="ui-g row large-gutter">
        <div class="ui-g-12 ui-md-6 ui-lg-4 __left-content ui-text-right ui-text-sm-left">
            <div class="__title">Đăng ký nhận bản tin điện tử</div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-8 __right-content">
            <div class="__input-wrapper">
                <input type="email" class="__input" placeholder="Điền email vào đây" />
                <button type="button" class="__button tn-btn easing no-border">Gửi</button>
            </div>
        </div>
    </div>
</div>

<div class="tn-app-footer">
    <div class="__footer-column-container">
        <div class="ui-g row large-gutter">
            <div class="ui-g-12 ui-md-6 ui-lg-3 __footer-column">
                <h3 class="__title">
                    Giới thiệu
                </h3>
                <ul class="__menu">
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Tin tức
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Hỏi đáp
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Liên hệ
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Đăng nhập
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 __footer-column">
                <h3 class="__title">
                    Thông tin
                </h3>
                <ul class="__menu">
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            SV Hệ Đại học
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Hệ ĐT Sau đại học
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Hệ ĐT ngắn hạn
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Cựu sinh viên
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 __footer-column">
                <h3 class="__title">
                    Tiện ích
                </h3>
                <ul class="__menu">
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Đăng ký TS online
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            ĐK môn học
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Dịch vụ sinh viên
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Kết quả trúng tuyển
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            ĐK phúc tra điểm
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Cập nhật thông tin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3 __footer-column">
                <h3 class="__title">
                    Đăng ký
                </h3>
                <ul class="__menu">
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            ĐK bảo lưu điểm QT
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            ĐK đồ án tốt nghiệp
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Khảo sát ý kiến
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Thời khóa biểu
                        </a>
                    </li>
                    <li class="__menu-item">
                        <a href="#" class="__link">
                            Lịch thi
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="__footer-bottom-bar">
        <div class="ui-g row large-gutter">
            <div class="ui-g-12 ui-md-6 ui-text-sm-center __left-content">
                <div class="fw-bold mb-5">Bản quyền &copy; 2019 Trường Đại học Vinh</div>
                <div>Địa chỉ: 182 Lê Duẩn - Thành Phố Vinh - Tỉnh Nghệ An</div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-text-right ui-text-sm-center __right-content">
                <ul class="tn-social-profiles style-1">
                    <li>
                        <a href="#" class="googleplus-color">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="facebook-color">
                            <i class="fa fa-facebook-official"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter-color">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube-color">
                            <i class="fa fa-youtube-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
