<p-dialog #dialog [header]="title" class="tn-modal" [(visible)]="isShow"
          [modal]="true" [responsive]="true" [styleClass]="'tn-modal force-full-width'"
          [style]="{'max-width': '1300px'}" [minHeight]="400"
          closeIcon="ci ci-close" maximizeIcon="ci ci-maximize" minimizeIcon="ci ci-minimize"
          [maximizable]="true" [contentStyle]="{'max-height': getMaxDialogHeight()}" [autoZIndex]="true">
    <div class="tn-modal-content-panel tn-form-container">
        <div class="ui-g large-gutter row tn-form-row">
            <div class="ui-g-12 ui-lg-12">
                <div class="tn-form-control type-text-field required"
                     [class.error]="checkSave && !itemDetail.title">
                    <div class="__control-label">Tiêu đề</div>

                    <div class="__control-input-wrapper">
                        <input class="__control-input" type="text" placeholder="Nhập tiêu đề"
                               [(ngModel)]="itemDetail.title">
                    </div>

                    <div class="__control-messages" *ngIf="checkSave && !itemDetail.title">
                        <div class="__message-item">Trường thông tin bắt buộc</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g large-gutter row tn-form-row">
            <div class="ui-g-12">
                <div class="tn-form-control type-textarea">
                    <div class="__control-label">Yêu cầu</div>

                    <div class="__control-input-wrapper">
                        <textarea class="__control-input" [placeholder]="'Nội dung Yêu cầu'" [rows]="5"
                                  [(ngModel)]="itemDetail.request"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <div class="ui-g large-gutter row tn-modal-footer-content">
            <div class="ui-g-8 __left-content">
            </div>

            <div class="ui-g-4 __right-content">
                <button type="button" (click)="onSave()"
                        class="tn-btn tn-color--white-0 tn-bgc--primary tn-bgc--primary-alt--hover
                        tn-bgc--primary-alt-2--active easing-fast">
                    <span class="__label">{{'Lưu dữ liệu'}}</span>
                    <span class="__icon ci ci-save"></span>
                </button>
            </div>
        </div>
    </p-footer>
</p-dialog>
