.tn-post {
    margin-bottom: 20px;

    .__post-title {
        position: relative;

        h1 {
            margin: 0 0 10px;
        }

        .__meta-content {
            padding: 0;
            margin: 0 0 20px;

            li {
                display: inline-block;
                position: relative;
                padding-left: 25px;
                margin-right: 20px;
                line-height: 20px;

                .__icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 20px;
                    width: 20px;
                    font-size: 15px;
                    margin-right: 5px;
                    text-align: center;

                    &:before {
                        line-height: 20px;
                        display: block;
                    }
                }
            }

            .__author {
                padding-left: 20px;

                .__icon {
                    font-size: 7px;
                }
            }
        }
    }

    .__post-content {
        border-bottom: 1px solid #ddd;
        margin: 0 0 20px;
        padding-bottom: 20px;
    }

    .__post-comment {

    }

    .rep-comment {
        margin-left: 40px;
    }


    input {
        margin: 10px 0;
        padding: 0 10px;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

}

.tn-post-comment {
    margin-bottom: 5px;

    .__avatar {
        float: left;

        img {
            border: 1px solid #ddd;
            width: 70px;
            height: auto;
            padding: 5px;
            border-radius: 10px;
        }
    }

    .__content-wrapper {
        border: 1px solid #ddd;
        margin-left: 80px;
        min-height: 69px;
        padding: 10px;
        border-radius: 10px;

        .__name {
            margin-bottom: 10px;
        }

        .__right {
            float: right;
            margin-top: -36px;
            margin-right: -12px;
        }

        .__content {

        }
    }
}


ul li {
    list-style: none;
}

.thao_tac {
    margin-top: -4px;

    button {
        background: none;

        &.like:hover {
            color: blue;
        }

        &.favorite:hover {
            color: red;
        }

        &.star-vote:hover {
            color: #FACB11;
        }

        &.like.actived {
            color: blue;

            &:hover {
                color: black;
            }
        }

        &.favorite.actived {
            color: red;

            &:hover {
                color: black;
            }
        }

        &.star-vote.actived {
            color: #FACB11;

            &:hover {
                color: black;
            }
        }
    }
}
